@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
:export {
  colorGrey: #808080;
  colorPrimery: #333333; }

.dropdown-select .control-label {
  display: block;
  margin: 20px 0 10px 0;
  font-size: 12px;
  font-weight: bold;
  color: #333333; }

.dropdown-select .react-dropdown-select {
  width: 100%;
  min-height: 30px;
  margin: 10px 0;
  padding: 0 5px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 5px;
  color: #333333;
  font-size: 12px;
  outline: none; }

.dropdown-select .react-dropdown-select:focus-within {
  box-shadow: none; }

.dropdown-select .react-dropdown-select-option {
  margin: 0;
  background-color: #fff;
  color: #333333; }

.dropdown-select .react-dropdown-select-input::placeholder {
  color: #BDBDBD !important;
  font-size: 12px; }

.dropdown-select .react-dropdown-select:hover {
  border: 1px solid #BDBDBD !important; }

.dropdown-select .react-dropdown-select:focus {
  outline: none !important; }

.dropdown-select .react-dropdown-select:focus-within {
  outline: none !important; }

.dropdown-select .react-dropdown-select-dropdown {
  background-color: #FBFBFB;
  padding: 5px 0;
  color: #4f4f4f;
  border: none;
  z-index: 9999;
  box-shadow: none; }

.dropdown-select .react-dropdown-select-item {
  position: relative;
  padding: 10px 10px 5px 27px;
  border: none; }

.dropdown-select .react-dropdown-select-item::before {
  position: absolute;
  top: 8px;
  left: 7px;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #BDBDBD;
  border-radius: 1px;
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  font-size: 14px; }

.dropdown-select .react-dropdown-select-item-selected {
  background-color: #FBFBFB !important;
  color: #4f4f4f !important;
  border: none !important; }

.dropdown-select .react-dropdown-select-item-selected::before {
  content: '\2713';
  color: #fff;
  background-color: rgba(54, 179, 168, 0.9);
  border: none; }

.dropdown-select .react-dropdown-select-content {
  width: 200px; }

.dropdown-select--half-width .react-dropdown-select {
  width: 130px; }

/* Path */
