@import '../../../styles/_variables.scss';

.employersPositions {
  width: 1190px;
  margin: 75px auto 0;

  &-btn {
    display: inline-block;
    padding: 15px 25px;
    font-family: $FONT_COMMON;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: $COLOR_CORAL;
    border-radius: 8px;
    cursor: pointer;
  }

  &-title {
    margin-top: 15px;
    margin-bottom: 62px;
    font-family: $FONT_COMMON;
    font-size: 48px;
    color: $primaryColor;
    line-height: 60px;
  }

  &-title::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 135px;
    height: 3px;
    background-color: rgba(54, 179, 168, 0.9);
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 49%;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 17px 20px 11px 20px;

    &-icon {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color:  #F2F2F2;;
      }
    }
    
    &-description {
      width: 75%;
      padding-left: 18px;
      color: $primaryColor;
      font-family: $FONT_COMMON;
      font-size: 24px;
      line-height: 29px;
      text-transform: capitalize;
    }

    &-swith {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      width: 15%;
      color: #828282;
      font-family: $FONT_COMMON;
      font-size: 16px;
    }
  }
}