@import '../../../styles/_variables.scss';

.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.35;
  z-index: 9998;
  overflow: hidden;
}

.mobile-content {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 20px;

  .logo {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: .1em;
    font-family: $FONT_LOGO;
    color: #FF8080;
    text-decoration: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .mobile-close {
    cursor: pointer;
    padding: 10px 20px;
  }

  .mobile-menu {
    &__item {
      position: relative;
      font-family: $FONT_MENU;
      font-weight: 500;
      font-size: 20px;
      padding: 12px 0;
      border-top: 1px solid $COLOR_LABEL_GRAY;
      cursor: pointer;

      .dropdown-chevron {
        position: relative;
        transform: translateY(0px);

        path {
          fill: $COLOR_MOBILE_MENU;
          stroke: #ffffff;
        }

        &.rotated {
          transform: rotateZ(180deg) translateY(0px);
        }
      }

      &:hover {
        background-color: $COLOR_CORAL;
        color: #ffffff;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        box-sizing: border-box;

        .dropdown-chevron {

          path {
            fill: #ffffff;
            stroke: $COLOR_CORAL;
          }
        }
      }

      &--submenu {
        padding-left: 30px;

        &:hover {
          padding-left: 50px;
        }
      ;
      }
    }

    &__link {
      color: $COLOR_MOBILE_MENU;
    }

    &__link_active {
    }


  }
}

@media (max-width: 479px) {
  .mobile-content {
    .logo {
      font-size: 28px;
    }
  }
}
