@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
.footer {
  display: flex;
  align-items: flex-start;
  background-color: black;
  padding: 40px 60px 100px; }
  .footer .logo {
    text-decoration: none;
    color: #FF8080;
    font-family: "Carter One", cursive;
    font-size: 40px;
    line-height: 20px;
    width: 25%; }
  .footer .itemsGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 40px; }
  .footer .menuItem {
    font-family: "Monserrat", sans-serif;
    font-size: 18px;
    color: #f2f2f2;
    text-transform: uppercase;
    margin-right: 60px;
    text-decoration: none;
    line-height: 20px; }
  .footer .copyright {
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .4; }
