@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.footer {
  height: 170px;
  background-color: black;
  box-sizing: border-box;
  padding: 20px; }
  .footer__top-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer .logo-container {
    width: 25%; }
  .footer .logo {
    text-decoration: none;
    color: #FF8080;
    font-family: "Carter One", cursive;
    font-size: 40px;
    line-height: 20px;
    width: 25%; }
  .footer .menuItem {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #f2f2f2;
    text-transform: uppercase;
    margin-right: 60px;
    text-decoration: none;
    line-height: 20px; }
  .footer .menuItemsContainer {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer .itemsGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0; }
    .footer .itemsGroup .menuItem {
      font-size: 12px;
      font-weight: 300;
      opacity: .8;
      margin: 0 20px; }
  .footer .copyright {
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .4; }

@media (max-width: 767px) {
  .footer .menuItemsContainer {
    display: none; } }

@media (max-width: 479px) {
  .footer .itemsGroup {
    justify-content: space-between; }
    .footer .itemsGroup .menuItem {
      margin: 0 5px; } }
