@import '../../../../styles/_variables.scss';

.burger-container {
  display: none;
  position: relative;

  .menu-button {
    &__line {
      width: 50px;
      height: 2px;
      background-color: $COLOR_SECONDARY_GREY;

      &:nth-child(2n) {
        margin: 8px 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .burger-container {
    display: block;
  }
}