@import '../../../styles/variables';

.loginForm {
  margin: 3em 0;

  .fieldContainer {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .field {
    width: 100%;
    padding: 0 5px;
  }

  .buttonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

    button {
      margin: 0 5px;
      display: block;
      width: 100%;
      letter-spacing: 1px;
    }
  }

  .link{
    color: #828282;
  }
}
