@import '../../../styles/_variables.scss';

.talent-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;

  background-color: rgba(0,0,0,0);
  .logo {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: .1em;
    font-family: $FONT_LOGO;
    color: $COLOR_CORAL;
    text-decoration: none;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__item {
    color: $COLOR_CORAL;
    text-transform: uppercase;
    font-family: $FONT_MENU;
    font-size: 18px;
    cursor: pointer;

    &:hover .sign-out__icon {
      transform: translateY(-50%) rotateZ(180deg);
    }
  }

  .sign-out {
    &__icon {
      position: absolute;
      top: 45%;
      right: 10px;
      transform: translateY(-50%);
      transition: all 0.5s;
    }
  }
}