@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');


.fkInput {
  .p-inputtext {
    width: 100% !important;
    font-size: 16px;
    font-family: $FONT_COMMON !important;
    border-color: #BDBDBD;
    border-radius: 4px;
  }
}

.fkAuthInput {
  margin-top: 10px;
  position: relative;

  .p-inputtext {
    width: 100% !important;
    font-size: 16px;
    font-family: $FONT_COMMON !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: rgba(0, 0, 0, .2) 1.5px solid;
    border-radius: 0 !important;

    &:focus, &:active {
      border: none !important;
      border-bottom: rgba(0, 0, 0, .2) 1.5px solid !important;
      box-shadow: none !important;
    }
  }

  .p-dropdown {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: rgba(0, 0, 0, .2) solid 2px;
    width: 100%;
  }

  input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: rgba(0, 0, 0, .2) solid 2px;
    width: 100%;

    @media (max-width: 800px) {
      border: rgba(0, 0, 0, .2) solid 1px;
      padding: 10px;
      border-radius: 8px;
    }
  }

  .input-label {
    label {
      font-family: $FONT_COMMON !important;
      color: rgba(0, 0, 0, .4) !important;
      font-weight: 300 !important;
      font-size: 16px !important;


    }

    @media (max-width: 1200px) {
      label {
        font-size: 14px !important;
      }
      margin-bottom: 5px;
    }
    display: block;
    margin-bottom: 20px;
  }

}

.errorContainer {
  min-height: 18px;
}

.fkDropdown {

  @media (max-width: 800px) {
    .p-dropdown {
      border: rgba(0, 0, 0, .2) solid 1px;
      border-radius: 8px;
    }
    .p-inputtext, .p-dropdown-trigger{
      background-color: transparent!important;
    }
  }


  .p-inputtext {
    border: none !important;

    &:active, &:focus {
      border: none !important;
    }
  }

  .p-focus {
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

.fieldDropdown {
  .p-dropdown {
    width: 100%;
  }

  &:active, &:focus {
    border: none !important;
  }


  .p-focus {
    box-shadow: none !important;
  }

  .p-dropdown-items-wrapper {
    width: 100% !important;
    margin-right: 0 !important;

    ul {
      width: 100% !important;
    }
  }
}

.errorLabel {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  font-family: $FONT_COMMON;
  color: $errorColor;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.fkCheckbox {
  label {
    color: rgba(0, 0, 0, .9);
    font-weight: 300;
    font-size: 16px;
    margin-left: 7px;
    cursor: pointer;
  }

}

.textInput {
  .p-label {
    label {
      display: block;
      margin-bottom: 7px;
      font-weight: 600;
      color: #4F4F4F;
    }
  }

  .p-inputtext {
    width: 100% !important;
    font-size: 16px;
    font-family: $FONT_COMMON !important;
    border-color: #BDBDBD;
    border-radius: 4px;
  }
}

