@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
.bannerContainer {
  min-height: 100px;
  overflow: hidden;
  background-color: #4f4f4f; }

#home-banner {
  background-image: url("../../../assets/images/homeBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#home-banner .bannerContent {
  color: #FDFDFD;
  padding: 300px 100px 200px; }

#home-banner .bannerContent h1 {
  font-family: "Monserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase; }

#home-banner .bannerContent h4 {
  font-family: "Monserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  width: 50%;
  margin: 40px auto; }

#mission {
  background-color: #fafafa; }

#mission .container {
  margin: 0 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

#mission .container .contentRow {
  width: 30%; }

#mission .container .contentRow h3 {
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 28px;
  margin-top: 1em; }

#mission .container .contentRow p {
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 1em 0;
  color: #4f4f4f;
  text-align: justify; }

#steps .container {
  margin-top: 100px; }

#steps .container h2 {
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase; }

.greenDash {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.stepsDiagram {
  margin: 20px auto;
  max-width: 1260px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.stepsDiagram .outerCircle {
  background-color: white;
  height: 76px;
  width: 76px;
  box-sizing: border-box;
  border: solid 2px rgba(54, 179, 168, 0.9);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.stepsDiagram .outerCircle .innerCircle {
  width: 54px;
  height: 54px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 179, 168, 0.9);
  border-radius: 50%; }

.stepsDiagram .outerCircle .innerCircle .index {
  font-size: 24px;
  color: white; }
