@import '../../../styles/_variables.scss';

.bannerContainer {
  min-height: 100px;
  overflow: hidden;
  background-color: #4f4f4f;
}

#home-banner {
  background-image: url("../../../assets/images/homeBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .bannerContent {
    color: #FDFDFD;
    padding: 300px 100px 200px;

    h1 {
      font-family: $FONT_COMMON;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 78px;
      text-align: center;
      text-transform: uppercase;
    }

    h4 {
      font-family: $FONT_COMMON;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      width: 50%;
      margin: 40px auto;
    }
  }

}

#mission {
  background-color: #fafafa;

  .container {
    margin: 0 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .contentRow {
      width: 30%;

      h3 {
        font-family: $FONT_COMMON;
        font-weight: 600;
        text-align: center;
        font-size: 28px;
        margin-top: 1em;
      }

      p {
        font-family: $FONT_COMMON;
        font-size: 16px;
        line-height: 1.5;
        margin: 1em 0;
        color: #4f4f4f;
        text-align: justify;
      }

      .greenDash {
        margin-top: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

#steps {
  .container {
    margin-top: 100px;

    h2 {
      font-family: $FONT_COMMON;
      font-weight: 600;
      font-size: 48px;
      text-align: center;
      text-transform: uppercase;

    }
  }
}