@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.text-area {
  position: relative; }

.text-area__field {
  font-family: Montserrat, 'sans-serif';
  width: 100%;
  margin-top: 10px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px 5px;
  color: #4f4f4f;
  font-size: 12px; }

.text-area__field::placeholder {
  color: #BDBDBD !important;
  font-size: 12px; }

.text-area__field--strong-text {
  color: #000;
  font-size: 22px;
  font-weight: 600; }

.text-area--half-width .text-input__field {
  width: 130px; }

.control-label {
  display: block;
  margin: 20px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: #4f4f4f; }
