@import '../../../styles/_variables.scss';

.text-area {
  position: relative;

  &__field {
    font-family: Montserrat, 'sans-serif';
    width: 100%;
    margin-top: 10px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 6px 5px;
    color: $COLOR_MENU_DARK;
    font-size: 12px;

    &::placeholder {
      color: #BDBDBD !important;
      font-size: 12px;
    }

    &--strong-text {
      color: $COLOR_BLACK;
      font-size: 22px;
      font-weight: 600;
    }
  }

  &--half-width {
    .text-input__field {
      width: 130px;
    }
  }
}

.control-label {
  display: block;
  margin: 20px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: $COLOR_MENU_DARK;
}