@import 'variables';

.doc-with-menu {
  padding-top: $MAIN_MENU_HEIGHT;

  .container {
    height: calc(100vh - #{$FOOTER_HEIGHT} - #{$MAIN_MENU_HEIGHT});
    @media (max-height: 900px) {
      height: fit-content;
      .document-page__header {
        padding: 10px 0;
      }
    }
  }

  .document-page__content {
    display: flex;

    .doc-with-menu-text {
      width: 70%;
      height: calc(100vh - #{$FOOTER_HEIGHT} - #{$MAIN_MENU_HEIGHT} - 148px);
      overflow-y: auto;
      padding-right: 20px;
      scroll-behavior: smooth;
      @media (max-width: 800px) {
        width: 100%;
        padding-right: 0;
      }
      @media (max-height: 900px) {
        width: 100%;
        height: fit-content;
        padding-right: 0;
      }

      &:not(:hover) {
        &::-webkit-scrollbar {
          opacity: .5;
        }
      }
    }
  }
}


.side-menu {
  width: 30%;
  min-width: 250px;
  padding-right: 20px;
  @media (max-width: 800px) {
    display: none;
  }
  @media (max-height: 900px) {
    display: none;
  }

  &__item {
    font-size: 18px;
    cursor: pointer;
    @media (max-width: 1024px) {
      font-size: 15px;
    }
  }

  &__item:hover:after {
    background: rgba(54, 179, 168, 0.9);
    height: 2px;
    margin-bottom: 10px;
  }

  &__item::after {
    content: '';
    display: block;
    height: 1px;
    width: 60%;
    margin: 11px 0;
    background-color: #BDBDBD;
  }
}

.item-active > .side-menu__item::after {
  background: rgba(54, 179, 168, 0.9);
  height: 2px;
  margin-bottom: 10px;
}