@import "variables";
@import "docWithMenu";

body {
  font: $base-font-size $base-font-family;
  line-height: 1.5;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

h3 {
  color: $footer-background-color;
}

p {
  color: $base-color;
}

.mainHeaderH2 {
  width: 100%;
  font: 600 40px $base-font-family;
  color: $base-color;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 3px;
    background-color: $COLOR_GREEN;
  }

  @media (max-width: 1280px) {
    font-size: 32px;
  }
  @media (max-width: 800px) {
    text-transform: none;
    font-size: 28px;
    text-align: left;
    &::after {
      width: 75px;
      margin: 7px 0;
    }
  }
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.mainHeaderH3 {
  font: 600 26px $base-font-family;
  color: $base-color;
  text-align: center;
  text-transform: uppercase;
}

.document-page {
  &__header {
    font-size: 32px;
    font-weight: 600;
    color: $COLOR_MENU_DARK;
    text-transform: uppercase;
    padding: 50px 0;
  }

  &__sub-header {
    font-size: 28px;
    color: #333333;
    margin-bottom: 1em;
    font-weight: 600;
    @media (max-width: 800px) {
      font-size: 24px;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    p{
      margin-bottom: 3em;
      &:last-child{
        margin-bottom: 4em;
      }
    }
  }
}

.bannerContainer {
  min-height: 100px;
  overflow: hidden;
  background: #4f4f4f no-repeat center;
  background-size: cover;
  height: 100vh;

  @media (max-width: 1024px) {
    height: fit-content;
    //height: 700px;
  }

  .bannerContent {
    color: $COLOR_LIGHT;
    margin: 200px 40px 40px;

    &.md-6of12 {
      margin: 200px 40px 40px 50%;
    }

    @media (max-width: 767px) {
      margin: 150px 20px 100px;
      &.md-6of12 {
        margin: 150px 20px 100px 40px;
      }

    }
    @media (max-width: 479px) {
      margin: 100px 16px 50px;
    }

    &-title {
      max-width: 700px;
      margin: 0 auto;
      font: 600 3rem/3.7rem $base-font-family;
      text-align: center;
      text-transform: uppercase;
      transform: translateZ(0);

      &.left {
        text-align: left;
      }

      @media (max-width: 1024px) {
        font-size: 40px;
      }

      @media (max-width: 767px) {
        font-size: 36px;
        line-height: 41px;
      }
      @media (max-width: 479px) {
        font-size: 34px;
        text-align: left;
      }
    }

    &-description {
      font: 600 1.8rem/2.5rem $base-font-family;
      text-align: center;
      width: 50%;
      margin: 40px auto;

      @media (max-width: 991px) {
        width: 100%;
        margin: 20px auto;
      }
      @media (max-width: 479px) {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        font-weight: normal;
      }
    }

    li {
      color: $COLOR_MENU_LIGHT;
      margin: 1.5rem 0;
      position: relative;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.8rem;
      text-align: left;
      padding-right: 25px;

      @media (max-width: 479px) {
        font-size: 18px;
        line-height: 22px;
      }

      &.bannerContent-description {
        width: 100%;
      }

      &:before {
        content: ' ';
        position: absolute;
        width: 6px;
        height: 6px;
        display: inline-block;
        background-color: $COLOR_MENU_LIGHT;
        left: -1em;
        top: 0.5em;
        transform: translateY(-50%);
      }
    }
  }
}

.fit-content {
  height: fit-content;
}

.accent-btn, .accent-btn__inverted, .accent-btn__transparent {
  border-radius: 0.5rem;
  color: $background-color;
  font-size: 1.1rem;
  padding: 0.9rem 2rem;
  text-transform: uppercase;
  min-width: 160px;

  &:active, &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  @media (max-width: 767px) {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
  }

  @media (max-width: 479px) {
    width: 100%;
  }
}

.accent-btn {
  background: $brand-color;
  border: 2px solid $brand-color;
}

.accent-btn__inverted {
  background: transparent;
  box-sizing: border-box;
  border: 2px solid $background-color;
}

.accent-btn__transparent {
  background: transparent;
  border: 2px solid $brand-color;
  color: $brand-color;
}

.dialogContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.responsive {
  width: 100%;
  height: auto;
}

.md-12of12 {
  width: 100% !important;
}

.xs-8of12, .md-8of12 {
  width: 66.6666666666% !important;
}

.xs-4of12, .md-4of12 {
  width: 33.3333333333% !important;
}

.xs-7of12, .md-7of12 {
  width: 58.3333333333% !important;
}

.xs-4of12, .md-4of12 {
  width: 33.3333333333% !important;
}

.xs-6of12, .md-6of12 {
  //width: 50%;
}

.md-6-offset {
  margin-left: 50%;
}

