@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: $FONT_COMMON;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

h3 {
  color: $onBackgroundColor;
}

p {
  color: $primaryColor;
}

.mainHeaderH2 {
  width: 100%;
  font-family: $FONT_COMMON;
  color: $primaryColor;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 3px;
    background-color: $COLOR_GREEN;
  }
}

.mainHeaderH3 {
  font-family: $FONT_COMMON;
  font-weight: 600;
  text-transform: uppercase;
  color: $primaryColor;
  text-align: center;
  font-size: 26px;
}

.bannerContainer {
  min-height: 100px;
  overflow: hidden;
  background-color: #4f4f4f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  .bannerContent {
    color: #FDFDFD;
    margin: 200px auto;
    padding: 0 20px;

    &__title {
      max-width: 700px;
      margin: 0 auto;
      font-family: $FONT_COMMON;
      font-style: normal;
      font-weight: 600;
      font-size: 46px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
    }

    &__description {
      font-family: $FONT_COMMON;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      width: 50%;
      margin: 40px auto;
    }

    li {
      color: $COLOR_MENU_LIGHT;
      margin: 1em 0 1em 1em;
      position: relative;
      font-size: 20px;
      line-height: 1.1em;

      &:before {
        content: ' ';
        position: absolute;
        width: 6px;
        height: 6px;
        display: inline-block;
        background-color: $COLOR_MENU_LIGHT;
        left: -1em;
        top: 0.5em;
        transform: translateY(-50%);
      }
    }
  }
}

.actionButton {
  width: 190px;
  display: block;
  background-color: $COLOR_CORAL;
  border: $COLOR_CORAL 2px solid;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 12px 0px;
  text-transform: uppercase;

  &:active,
  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}

.actionButtonTransparent {
  width: 190px;
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  border: solid 2px #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 12px 0;
  text-transform: uppercase;

  &:active,
  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}

.dialogContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .bannerContainer {

    .bannerContent {

      &__description {
        width: 100%;
        margin: 20px auto;
      }
    }
  }

}

@media (max-width: 767px) {
  .bannerContainer {

    .bannerContent {
      margin-bottom: 100px;

      h1 {
        font-size: 36px;
      }
    }
  }
}

@media (max-width: 479px) {
  .bannerContainer {
    .bannerContent {
      margin: 100px auto 50px;

      &__title {
        font-size: 34px;
        text-align: left;
      }

      &__description {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        font-weight: normal;
      }
    }
  }

  .actionButton {
    width: 100%;
  }

  .actionButtonTransparent {
    width: 100%;
  }

  .mainHeaderH2 {
    font-size: 26px;
  }
}

