@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
body {
  font: 16px "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; }

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto; }

h3 {
  color: #000000; }

p {
  color: #212121; }

.mainHeaderH2 {
  width: 100%;
  font: 600 40px "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #212121;
  text-align: center;
  text-transform: uppercase; }

.mainHeaderH2::after {
  content: '';
  display: block;
  margin: 10px auto;
  width: 120px;
  height: 3px;
  background-color: rgba(54, 179, 168, 0.9); }

@media (max-width: 1280px) {
  .mainHeaderH2 {
    font-size: 32px; } }

@media (max-width: 800px) {
  .mainHeaderH2 {
    text-transform: none;
    font-size: 28px;
    text-align: left; }
  .mainHeaderH2::after {
    width: 75px;
    margin: 7px 0; } }

@media (max-width: 480px) {
  .mainHeaderH2 {
    font-size: 24px; } }

.mainHeaderH3 {
  font: 600 26px "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #212121;
  text-align: center;
  text-transform: uppercase; }

.bannerContainer {
  min-height: 100px;
  overflow: hidden;
  background: #4f4f4f no-repeat center;
  background-size: cover;
  height: 100vh; }

@media (max-width: 1024px) {
  .bannerContainer {
    height: fit-content; } }

.bannerContainer .bannerContent {
  color: #fbfbfb;
  margin: 200px 40px 40px; }

.bannerContainer .bannerContent.md-6of12 {
  margin: 200px 40px 40px 50%; }

@media (max-width: 767px) {
  .bannerContainer .bannerContent {
    margin: 150px 20px 100px; }
  .bannerContainer .bannerContent.md-6of12 {
    margin: 150px 20px 100px 40px; } }

@media (max-width: 479px) {
  .bannerContainer .bannerContent {
    margin: 100px 16px 50px; } }

.bannerContainer .bannerContent-title {
  max-width: 700px;
  margin: 0 auto;
  font: 600 3rem/3.7rem "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0); }

.bannerContainer .bannerContent-title.left {
  text-align: left; }

@media (max-width: 1024px) {
  .bannerContainer .bannerContent-title {
    font-size: 40px; } }

@media (max-width: 767px) {
  .bannerContainer .bannerContent-title {
    font-size: 36px;
    line-height: 41px; } }

@media (max-width: 479px) {
  .bannerContainer .bannerContent-title {
    font-size: 34px;
    text-align: left; } }

.bannerContainer .bannerContent-description {
  font: 600 1.8rem/2.5rem "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  width: 50%;
  margin: 40px auto; }

@media (max-width: 991px) {
  .bannerContainer .bannerContent-description {
    width: 100%;
    margin: 20px auto; } }

@media (max-width: 479px) {
  .bannerContainer .bannerContent-description {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    font-weight: normal; } }

.bannerContainer .bannerContent li {
  color: #f2f2f2;
  margin: 1.5rem 0;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
  padding-right: 25px; }

@media (max-width: 479px) {
  .bannerContainer .bannerContent li {
    font-size: 18px;
    line-height: 22px; } }

.bannerContainer .bannerContent li.bannerContent-description {
  width: 100%; }

.bannerContainer .bannerContent li:before {
  content: ' ';
  position: absolute;
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #f2f2f2;
  left: -1em;
  top: 0.5em;
  transform: translateY(-50%); }

.accent-btn, .accent-btn__inverted {
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.9rem 2rem;
  text-transform: uppercase;
  min-width: 160px; }

.accent-btn:active, .accent-btn:focus, .accent-btn__inverted:active, .accent-btn__inverted:focus {
  outline: none; }

.accent-btn:active, .accent-btn__inverted:active {
  transform: translateY(2px); }

@media (max-width: 767px) {
  .accent-btn, .accent-btn__inverted {
    font-size: 1rem;
    padding: 0.7rem 1.5rem; } }

@media (max-width: 479px) {
  .accent-btn, .accent-btn__inverted {
    width: 100%; } }

.accent-btn {
  background: #FF8080;
  border: 2px solid #FF8080; }

.accent-btn__inverted {
  background: transparent;
  box-sizing: border-box;
  border: 2px solid #fff; }

.dialogContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; }

.flex {
  display: flex; }

.responsive {
  width: 100%;
  height: auto; }

.md-12of12 {
  width: 100% !important; }

.xs-8of12, .md-8of12 {
  width: 66.6666666666% !important; }

.xs-4of12, .md-4of12 {
  width: 33.3333333333% !important; }

.xs-7of12, .md-7of12 {
  width: 58.3333333333% !important; }

.xs-4of12, .md-4of12 {
  width: 33.3333333333% !important; }

.md-6-offset {
  margin-left: 50%; }
