@import "variables";

body {
  margin: 0;
  padding: 0;

  font-family: $FONT_COMMON;
}

h3 {
  color: $onBackgroundColor;
}

p {
  color: $primaryColor;
}

.actionButton {
  background-color: $COLOR_CORAL;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 12px 30px;
  text-transform: uppercase;

  &:active,
  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}