@import '../../../styles/_variables';

.company-profile-page {
  background-color: white;
  min-height: calc(100vh - 70px);

  .company-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;

    .company {
      display: flex;

      &-logo {
        padding: 0 40px;

        img {
          width: 200px;
        }
      }

      &-info {
        padding-left: 1rem;
      }

      &-title {
        font-size: 1rem;
        text-transform: capitalize;
        color: $COLOR_LABEL_GRAY;
      }

      &-name {
        color: $COLOR_MENU_DARK;
        font: {
          size: 1.2rem;
          family: $FONT_COMMON;
          weight: 600;
        }
        line-height: 2em;
        text-transform: uppercase;
      }

      &-headline {
        font: {
          size: 1.4rem;
          family: $FONT_COMMON;
          weight: normal;
        }
        line-height: 2em;
      }

      &-location {
        font: {
          size: 1.2rem;
          family: $FONT_COMMON;
          weight: normal;
        }
        color: $COLOR_GREEN;
      }

      .line {
        justify-content: flex-start;
        margin: {
          top: 0;
          bottom: 1.5rem;
        }
      }
    }

    .editButton {
      cursor: pointer;
      width: 32px;
      height: 32px;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: translateY(1px);
      }
    }

    .company-details {
      margin: 0 auto;

      .video-card {
        margin: 0;
      }

      .flex-embed {
        display: block;
        overflow: hidden;
        position: relative;

        &__ratio {
          display: block;
          padding-bottom: 100%;
          width: 100%;

          &--16by9 {
            padding-bottom: 56.25%;
          }
        }

        &__content {
          bottom: 0;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      .companyName {
        color: $COLOR_MENU_DARK;
        font: {
          size: 1.4rem;
          family: $FONT_COMMON;
          weight: 600;
        }
        line-height: 1.5;
        text-transform: uppercase;
        margin: {
          top: 1.2rem;
          bottom: 1.5rem;
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: $gray-500;
        text-align: justify;
      }

      .gallery {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0;
        overflow: hidden;

        .photo-container {
          margin-bottom: 2rem;
          overflow: hidden;
          height: 400px;

          &.left {
            padding-right: 1rem;
          }

          &.right {
            padding-left: 1rem;
          }

          span {
            overflow: hidden;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              height: 100%;
            }
          }
        }
      }
    }

    .company-sidebar {
      width: 30%;
      padding-left: 50px;

      h3 {
        padding-bottom: 15px;
        border-bottom: 1px solid $COLOR_LABEL_GRAY;
        color: $COLOR_MENU_DARK;
        font-family: $FONT_COMMON;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        margin-top: 2em;
      }

      .feature-card {
        margin-bottom: 2rem;
      }

      .item {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        svg {
          margin-right: 10px;
        }

        span {
          color: #828282;
          font-size: 1rem;
          line-height: 1.5;
        }
      }

      :first-child {
        margin-top: 0;
      }
    }
  }
}
