@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.company-profile-page {
  background-color: white;
  min-height: calc(100vh - 70px); }
  .company-profile-page .company-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem; }
  .company-profile-page .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between; }
    .company-profile-page .container .company {
      display: flex; }
      .company-profile-page .container .company-logo {
        padding: 0 40px; }
        .company-profile-page .container .company-logo img {
          width: 200px; }
      .company-profile-page .container .company-info {
        padding-left: 1rem; }
      .company-profile-page .container .company-title {
        font-size: 1rem;
        text-transform: capitalize;
        color: #BDBDBD; }
      .company-profile-page .container .company-name {
        color: #4f4f4f;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: 2em;
        text-transform: uppercase; }
      .company-profile-page .container .company-headline {
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        line-height: 2em; }
      .company-profile-page .container .company-location {
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        color: rgba(54, 179, 168, 0.9); }
      .company-profile-page .container .company .line {
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 1.5rem; }
    .company-profile-page .container .editButton {
      cursor: pointer;
      width: 32px;
      height: 32px; }
      .company-profile-page .container .editButton:hover {
        opacity: 0.8; }
      .company-profile-page .container .editButton:active {
        transform: translateY(1px); }
    .company-profile-page .container .company-details {
      margin: 0 auto; }
      .company-profile-page .container .company-details .video-card {
        margin: 0; }
      .company-profile-page .container .company-details .flex-embed {
        display: block;
        overflow: hidden;
        position: relative; }
        .company-profile-page .container .company-details .flex-embed__ratio {
          display: block;
          padding-bottom: 100%;
          width: 100%; }
          .company-profile-page .container .company-details .flex-embed__ratio--16by9 {
            padding-bottom: 56.25%; }
        .company-profile-page .container .company-details .flex-embed__content {
          bottom: 0;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%; }
      .company-profile-page .container .company-details .companyName {
        color: #4f4f4f;
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        margin-top: 1.2rem;
        margin-bottom: 1.5rem; }
      .company-profile-page .container .company-details p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #9e9e9e;
        text-align: justify; }
      .company-profile-page .container .company-details .gallery {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0;
        overflow: hidden; }
        .company-profile-page .container .company-details .gallery .photo-container {
          margin-bottom: 2rem;
          overflow: hidden;
          height: 400px; }
          .company-profile-page .container .company-details .gallery .photo-container.left {
            padding-right: 1rem; }
          .company-profile-page .container .company-details .gallery .photo-container.right {
            padding-left: 1rem; }
          .company-profile-page .container .company-details .gallery .photo-container span {
            overflow: hidden;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center; }
            .company-profile-page .container .company-details .gallery .photo-container span img {
              height: 100%; }
    .company-profile-page .container .company-sidebar {
      width: 30%;
      padding-left: 50px; }
      .company-profile-page .container .company-sidebar h3 {
        padding-bottom: 15px;
        border-bottom: 1px solid #BDBDBD;
        color: #4f4f4f;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        margin-top: 2em; }
      .company-profile-page .container .company-sidebar .feature-card {
        margin-bottom: 2rem; }
      .company-profile-page .container .company-sidebar .item {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem; }
        .company-profile-page .container .company-sidebar .item svg {
          margin-right: 10px; }
        .company-profile-page .container .company-sidebar .item span {
          color: #828282;
          font-size: 1rem;
          line-height: 1.5; }
      .company-profile-page .container .company-sidebar :first-child {
        margin-top: 0; }
