@import '../../../styles/_variables';

.companyPage {
  width: 100%;
  background-color: white;
  min-height: calc(100vh - 70px);
  .header{
    box-shadow:  0 0 10px rgba(0,0,0,0.2);
  }

  .contentContainer {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1200px;

    .companyHeader {
      display: flex;
      padding: 40px 0;
      justify-content: space-between;


      .content {
        display: flex;

        .logoContainer {
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          margin-right: 40px;
          img {
            max-height: 200px;
          }
        }
        .label{
          font-size: 12px;
          text-transform: capitalize;
          color: $COLOR_LABEL_GRAY;
        }
        .companyName{
          color: $COLOR_MENU_DARK;
          font-family: $FONT_COMMON;
          font-weight: 600;
          font-size: 20px;
          line-height: 2em;
          text-transform: uppercase;
        }
        .slogan{
          font-size: 20px;
          font-family: $FONT_COMMON;
          font-weight: 400;
          line-height: 2em;
        }
        .companyLocation{
          color: rgba(54, 179, 168, 0.9);
          font-size: 20px;
          font-family: $FONT_COMMON;
          font-weight: 400;
        }
        .line{
          justify-content: flex-start;
          margin-top: 0;
          margin-bottom: 1.5em;
        }
      }

      .editButton{
        cursor: pointer;
        &:hover{
          opacity: .8;
        }
        &:active{
          transform: translateY(1px);
        }
      }
    }
  }


}
