@import '../../../styles/variables';

.support {
  padding-top: $MAIN_MENU_HEIGHT;

  .container {
    min-height: calc(100vh - #{$FOOTER_HEIGHT});
  }

  .contact-header {
    color: #181818;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 60px;
  }

  .contacts-form {
    font-size: 16px;

    .contacts-email {
      margin-bottom: 20px;

      &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: inherit;
        padding: 16px 25px;
        border: 1px solid #BDBDBD;
      }
    }

    .contacts-text {
      &__input {
        width: 100%;
        min-height: 200px;
        box-sizing: border-box;
        padding: 16px 25px;
        font-family: inherit;
        border-radius: 8px;
        border: 1px solid #BDBDBD;
        resize: none;
      }
    }

    .contacts-btn {
      margin: 30px 0 70px;
      text-align: right;

      &__send {
        width: 102px;
        height: 36px;
        background: #FF6F60;
        border-radius: 8px;
        color: #fff;
        border: none;
        text-transform: uppercase;
      }
    }
  }
}