@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
:export {
  colorGrey: #808080;
  colorPrimery: #333333; }

.employer-welcome {
  width: 1190px;
  margin: 110px auto 0;
  padding: 44px 64px 0 64px;
  background-color: #FFFFFF; }
  .employer-welcome-title {
    font-family: "Monserrat", sans-serif;
    font-size: 36px;
    color: #333333;
    line-height: 48px;
    text-transform: capitalize; }
  .employer-welcome-text {
    margin-top: 30px;
    margin-bottom: 75px;
    font-family: "Monserrat", sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: #333333; }
  .employer-welcome-sign {
    display: block;
    font-family: "Monserrat", sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #333333; }
  .employer-welcome-btn {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 115px;
    padding: 15px 25px;
    font-family: "Monserrat", sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF8080;
    border-radius: 8px;
    cursor: pointer; }
