@import '../../../styles/_variables';

.signUpTalentForm {
  margin: 3em 0;

  .fieldContainer {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .field {
    width: 100%;
    padding: 0 5px;
  }

  .buttonsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 5px;

    button {
      display: block;
      width: 100%;
      letter-spacing: 1px;
    }
    .link{
      color: $COLOR_CORAL;
      cursor: pointer;
      margin-left: 7px;
    }
  }
}
