@import '../../../styles/_variables.scss';

#about-banner {
  background-image: url("../../../assets/images/main_about_bg.png");
  position: relative;
  font-family: $FONT_COMMON;

  .imageFilter {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 0;
    box-sizing: border-box;
  }

  .bannerContent {
    padding: 0 0 200px 0;

    &-title {
      max-width: 100%;
    }
  }
}

#what-we-do,
#mission {
  font-family: $FONT_COMMON;

  .mainHeaderH2 {
    margin-bottom: 40px;
  }

  .contentContainer {
    width: 50%;

    .row {
      display: flex;
      width: 100%;

      .iconContainer {
        width: 60px;
        min-width: 60px;

        img {
          max-height: 40px;
        }
      }

      .rowContent {
        h4 {
          font-size: 18px;
          font-weight: 700;
          font-family: $FONT_COMMON;
        }

        p {
          padding: 1em 0 2em;
          font-size: 16px;
          font-family: $FONT_COMMON;
        }
      }

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        .rowContent {
          h4 {
            text-align: center;
          }
        }
        .iconContainer {
          width: 100px;
          min-width: 100px;
          margin-bottom: 10px;

          img {
            height: 100px;
            max-height: 100px;
          }
        }
      }
    }
  }

  .imageContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      height: auto;
      max-width: 500px;
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    .contentContainer {
      width: 70%;
    }
    .imageContainer {
      width: 30%;
    }
  }
  @media (max-width: 600px) {
    .contentContainer {
      width: 100%;
    }
    .imageContainer {
      display: none;
    }
  }
}

#mission {
  @media (max-width: 600px) {
    .iconContainer {
      display: none;
    }
    .row {
      padding-left: 30px;

      .rowContent {

        h4 {
          text-align: left !important;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: -30px;
            width: 19px;
            height: 14px;
            background: url("../../../assets/icons/check.svg");
            background-size: contain;
          }
        }
      }
    }
  }
}

#numbers,
#what-we-do,
#mission {
  .container {
    display: flex;
    max-width: 1200px;
    margin: 3em auto 0;
    padding: 0 20px;
    justify-content: space-between;
    font-family: $FONT_COMMON;
  }
}

#numbers {
  background-color: $COLOR_MENU_LIGHT;
  padding-top: 1em;
  padding-bottom: 4em;
  font-family: $FONT_COMMON;

  .container {
    display: flex;
    @media (max-width: 600px) {
      flex-direction: column;
    }

    .semiCol {
      display: flex;
      width: 50%;
      justify-content: space-around;
      @media (max-width: 600px) {
        width: 100%;
        padding-top: 20px;
      }
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $COLOR_GREEN;
    width: 50%;

    .iconContainer {
      height: 60px;

      img {
        max-height: 40px;
        @media (max-width: 600px) {
          max-height: 80px;
          height: 80px;
          padding-bottom: 15px;
        }
      }
    }

    h3 {
      font-weight: bold;
      font-size: 58px;
      line-height: 72px;
      color: $COLOR_GREEN;
      @media (max-width: 1024px) {
        font-size: 48px;
      }
      @media (max-width: 800px) {
        font-size: 40px;
      }

    }

    span {
      font-size: 22px;
      padding: 0 10px;
      text-align: center;
      @media (max-width: 1024px) {
        font-size: 18px;
      }
      @media (max-width: 800px) {
        font-size: 16px;
      }
    }
  }
}

#mission {
  background-color: #fff;
  font-family: $FONT_COMMON;

  .imageContainer {
    align-items: center;

    img {
      height: auto;
      max-width: 320px;
      width: 100%;
    }
  }
}

#new-jobs {
  background-color: $COLOR_BG_LIGHT;
  padding: 2em;
  font-family: $FONT_COMMON;

  h4 {
    text-align: center;
    font-size: 26px;
    color: #4f4f4f;
    @media (max-width: 800px) {
      font-size: 24px;
    }
  }

  .accent-btn {
    margin: 20px auto;
    display: block;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

#team {
  padding: 2em 0 4em;
  font-family: $FONT_COMMON;

  .teamMembersContainer {
    display: flex;
    max-width: 1200px;
    margin: 3em auto 0;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-wrap: wrap;
    }

    .memberCard {
      position: relative;
      width: 20%;
      margin: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      @media (max-width: 600px) {
        width: 40%;
        margin-bottom: 40px;
      }

      .imageContainer {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }


      .memberInfo {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
        width: 80%;
        background-color: #1f1f1f;
        text-align: center;

        h3 {
          color: white;
          font-size: 24px;
          margin-top: 10px;
          @media (max-width: 1024px) {
            font-size: 20px;
            margin-top: 0;
          }
          @media (max-width: 768px) {
            font-size: 15px;
            margin-top: 0;
          }
        }

        span {
          display: block;
          color: white;
          text-transform: uppercase;
          font-size: 12px;
          margin: 10px;
          @media (max-width: 1024px) {
            font-size: 11px;
            margin: 5px;
          }
          @media (max-width: 768px) {
            font-size: 10px;
            margin: 0;
          }

        }
      }
    }
  }
}

#partners-about {
  //margin: 3em;
  font-family: $FONT_COMMON;
}

#feedback {
  background-image: url("../../../assets/images/feedback_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: $FONT_COMMON;

  .imageFilter {
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
    z-index: 0;
    box-sizing: border-box;
    @media (max-width: 600px) {
      display: none;
    }
  }
  @media (max-width: 600px) {
    background: #f7f7f7;
  }
  .content {
    padding: 2em;

    .feedbackContainer {
      padding-top: 25%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      max-width: 1250px;
      margin: 0 auto;
      @media (max-width: 600px) {
        flex-direction: column;
        padding-top: 0;
      }
    }
  }
}

.feedbackBlock {
  width: 35%;
  height: max-content;
  position: relative;
  background: #EDF7ED;
  box-sizing: border-box;
  opacity: 0.7;
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1024px) {
    width: 40%;
  }
  @media (max-width: 800px) {
    width: 45%;
  }
  @media (max-width: 600px) {
    width: 100%;
    background-color: rgba(164, 222, 155, 0.42);
    opacity: 1;
    margin-top: 30px;
  }

  .quotes {
    position: absolute;
    top: -15px;
    left: 25px;
  }

  h4 {
    font-family: Segoe UI, sans-serif;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 1em;
  }

  p {
    font-family: $FONT_COMMON;
    font-size: 14px;
    line-height: 17px;
  }

  .personData {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
      .personName {
        font-size: 18px;
        line-height: 22px;
      }

      .personPosition {
        font-size: 14px;
        font-style: italic;
      }
    }

    .imageContainer {
      margin-left: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
      }


    }
  }
}

#contact {
  font-family: $FONT_COMMON;

  .content {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3em auto;
    @media (max-width: 800px) {
      flex-direction: column;
    }

    .leftCol, .rightCol {
      width: 50%;
      transition: all 1s ease-in-out;
      margin: 0 25px;
      @media (max-width: 800px) {
        width: 100%;
        margin: 0;
        .accent-btn {
          min-width: 110px;
        }
      }

      .headerBlock {
        display: flex;
        justify-content: center;
      }
    }

    .rightCol {

      p {
        margin: 3em 0;
        font-size: 14px;
        line-height: 20px;
        font-family: $FONT_COMMON;
        color: #828282;
      }

      .contactData {
        margin: 0;
        padding: 0;
        font-size: 16px;

        span {
          font-weight: 600;
        }
      }
    }
  }
}
