.mainPageContent{
  min-height: calc(100vh - 170px);
  #dialog-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100vw;
  }
}

.main {
  &--mobile-open {
    position: fixed;
  }
}

.commonContent{
  padding-top: 70px;

}