@import '../../../styles/_variables.scss';

.loginContainer {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: rgba(0,0,0,.4) 10px 10px 20px;

  .infoContainer {
    background: linear-gradient(157.01deg, #FFF503 -144.41%, #FC7171 75.73%);
    border-radius: 15px 0 0 15px;

    .content {
      color: white;
      margin: 90px 70px 50px;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 120px;
      }

      h2 {
        font-size: 32px;
        font-weight: 500;
        font-family: $FONT_COMMON;
        text-align: center;
        margin-top: 2em;
      }

      .description {
        color: white;
        display: block;
        margin-top: 2em;
        font-family: $FONT_COMMON;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
      }

    }
  }

  .formContainer {
    background-color: white;
    border-radius: 0 15px 15px 0;

    .content {
      color: white;
      margin: 90px 70px 50px;
      min-width: 300px;
      p{
        color: rgba(0,0,0,.4);
        font-size: 16px;
        font-weight: 300;
        span{
          color: $COLOR_CORAL;
          cursor: pointer;
        }
      }
    }
  }
}