.employer-bg {  
  background-image: url('../../assets/images/Employer-area/image_map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #F2F2F2;
  min-height: 100vh;
}