.employer-bg {
  background-color: #E5E5E5;
  background-image: url("../../assets/images/Employer-area/image_map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }
