@import '../../styles/_variables.scss';

.avatar {
  margin: 0 auto;
  border: 1px solid $COLOR_GREY;
  border-radius: 50%;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}