@import '../../styles/_variables.scss';

.authContainer {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, .4) 10px 10px 20px;
  max-width: 95vw;
  @media (max-width: 800px) {
    max-width: 100vw;
    flex-direction: column;
    box-shadow: none;
    padding-top: $MAIN_MENU_HEIGHT;
  }
  @media handheld {
    padding-top: $MAIN_MENU_HEIGHT;
    margin: 0 auto;
  }
  @media handheld and (max-height: 800px) {
    max-width: 100vw;
    flex-direction: column;
    box-shadow: none;
    padding-top: $MAIN_MENU_HEIGHT;
  }



  .infoContainer {
    border-radius: 15px 0 0 15px;
    width: 50%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 800px) {
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 60% 33px;
      border-bottom-right-radius: 60% 33px;
      margin-bottom: -35px;
      padding-bottom: 45px;
      z-index: 1;
    }

    @media handheld and (max-height: 600px) {
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 60% 33px;
      border-bottom-right-radius: 60% 33px;
      margin-bottom: -35px;
      padding-bottom: 45px;
      z-index: 1;
    }


    &.login, &.employerSignUp {
      background: linear-gradient(157.01deg, #FFF503 -144.41%, #FC7171 75.73%);
    }

    &.talentSignUp {
      background: linear-gradient(104.35deg, rgba(82, 200, 205, 0.8) 8.08%, #008489 77.55%), #008489;
    }

    .content {
      color: white;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 120px;
      }

      h2 {
        font-size: 32px;
        font-weight: 500;
        font-family: $FONT_COMMON;
        text-align: center;
        margin-top: 2em;
      }

      .description {
        color: white;
        display: block;
        margin-top: 2em;
        font-family: $FONT_COMMON;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
      }

      @media (max-width: 1200px) {
        .description {
          font-size: 14px;
        }
        h2 {
          font-size: 28px;
        }
      }
      @media (max-width: 800px) {
        .description {
          font-size: 12px;
        }
      }
    }
  }

  .formContainer {
    background-color: white;
    width: 50%;
    border-radius: 0 15px 15px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 800px) {
      width: 100%;
      border-radius: 0;
    }

    .content {
      color: white;
      width: 350px;
      @media (max-width: 800px) {
        width: 100%;
      }
      @media handheld and (max-height: 600px) {
        width: 100%;
      }

      p {
        color: rgba(0, 0, 0, .4);
        font-size: 16px;
        font-weight: 300;

        span {
          color: $COLOR_CORAL;
          cursor: pointer;
        }

        @media (max-width: 1200px) {
          font-size: 14px;
        }
        @media (max-width: 800px) {
          font-size: 12px;
        }
      }
    }
  }
}