@import '../../../styles/_variables.scss';

.calendar {
  position: relative;
  width: 120px;
  font-family: Montserrat, 'sans-serif';

  &__wrapper {
    position: relative;
    margin-top: 10px;

    .datepicker-chewron {
      position: absolute;
      top: 11px;
      right: 8px;
    }
  }

  .react-datepicker {
    &-wrapper {
      position: relative;
      width: 100%;
    }

    &__month--selected {
      background-color: $secondaryColor;
    }

    &__input-container {
      input {
        width: 100%;
        height: 30px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 6px 5px;
        color: $COLOR_MENU_DARK;
        font-family: Montserrat, 'sans-serif';
        font-size: 12px;

        &::placeholder {
          color: #BDBDBD !important;
          font-size: 12px;
        }
      }
    }
  }

  &--half-width {
    .text-input__field {
      width: 130px;
    }
  }
}

.control-label {
  display: block;
  margin: 20px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: $COLOR_MENU_DARK;
}