@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.profile {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/images/profile-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .profile-header {
    position: relative;
    z-index: 99999; }
  .profile--filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(240, 240, 240, 0.8); }
  .profile-container {
    position: relative;
    margin-top: 40px;
    font-family: Montserrat, 'sans-serif'; }
  .profile-form {
    width: 700px;
    min-height: 400px;
    display: flex;
    margin: 0 auto; }
    .profile-form__row {
      margin-bottom: 30px; }
      .profile-form__row:last-child {
        margin-bottom: 0; }
    .profile-form__column-left, .profile-form__column-right {
      box-sizing: border-box;
      width: 50%;
      padding: 0 20px; }
    .profile-form__title-container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .profile-form__add-icon {
      width: 15px;
      height: 15px;
      line-height: 15px;
      border: 1px solid rgba(54, 179, 168, 0.9);
      border-radius: 15px;
      font-size: 18px;
      text-align: center;
      color: #BDBDBD;
      cursor: pointer; }
      .profile-form__add-icon--margin-top {
        margin-top: 25px; }
    .profile-form__title {
      color: rgba(54, 179, 168, 0.9);
      margin: 25px 0;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600; }
      .profile-form__title--margin-bottom-none {
        margin-bottom: 0px; }
    .profile-form__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .profile-form__container .inputs-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
    .profile-form__item--last {
      font-size: 24px;
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .profile-form__item--last .last-title {
        margin-bottom: 20px; }
    .profile-form__description {
      padding: 0 20px;
      margin-top: 20px;
      color: #828282;
      font-size: 12px;
      font-weight: 300; }
  .profile-menu {
    width: 50px;
    background: linear-gradient(92.12deg, rgba(82, 200, 205, 0.8) 8.08%, #008489 77.55%), #008489;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px; }
    .profile-menu__item {
      width: 35px;
      height: 35px;
      color: #f2f2f2;
      font-size: 18px;
      border: 1px solid #f2f2f2;
      border-radius: 40px;
      text-align: center;
      line-height: 35px;
      margin: 0 auto 40px;
      cursor: pointer;
      box-sizing: border-box; }
      .profile-menu__item--active {
        color: #fff;
        border: 2px solid #ffffff; }
      .profile-menu__item--checked {
        position: relative;
        border: none;
        background-color: #008489;
        font-size: 22px;
        color: #008489; }
        .profile-menu__item--checked::before {
          content: '\2713';
          position: absolute;
          top: 0;
          left: 10px;
          color: #fff; }
      .profile-menu__item:after {
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        margin: 0 auto;
        box-sizing: border-box;
        border-left: 2px dotted #ffffff; }
      .profile-menu__item:last-child:after {
        content: none; }
  .profile .form-container {
    width: 650px;
    background-color: #ffffff; }
  .profile .buttons-container {
    width: 100%;
    margin: 30px 0;
    padding: 0 30px;
    text-align: right; }
