@import '../../../styles/_variables.scss';
@import "../../../styles/mixins.scss";

.profile {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include cover-background("../assets/images/profile-background.png");
  font-family: $base-font-family;

  &-header {
    position: relative;
    z-index: 99999;
  }

  &--filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(240, 240, 240, 0.8);
  }

  &-container {
    position: relative;
    margin-top: 40px;
  }

  &-form {
    display: flex;
    width: 700px;
    min-height: 400px;
    margin: 0 auto;
    padding-bottom: 30px;
    box-sizing: border-box;

    &__row {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__column-left, &__column-right {
      box-sizing: border-box;
      width: 50%;
      padding: 0 20px;
    }

    &__title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__add-icon {
      width: 15px;
      height: 15px;
      line-height: 15px;
      border: 1px solid $COLOR_GREEN;
      border-radius: 15px;
      font-size: 18px;
      text-align: center;
      color: $label-color;
      cursor: pointer;

      &--margin-top {
        margin-top: 25px;
      }
    }

    &__title {
      color: $COLOR_GREEN;
      margin: 25px 0;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;

      &--margin-bottom-none {
        margin-bottom: 0;
      }
    }

    &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .inputs-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    &__item {
      &--last {
        font-size: 24px;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .last-title {
          margin-bottom: 20px;
        }
      }

    }

    &__description {
      padding: 0 20px;
      margin-top: 20px;
      color: $COLOR_PRIMARY_GREY;
      font-size: 12px;
      font-weight: 300;
    }
  }

  &-menu {
    width: 50px;
    background: linear-gradient(92.12deg, rgba(82, 200, 205, 0.8) 8.08%, #008489 77.55%), #008489;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;

    &__item {
      width: 35px;
      height: 35px;
      color: $light-menu-color;
      font-size: 18px;
      border: 1px solid $light-menu-color;
      border-radius: 40px;
      text-align: center;
      line-height: 35px;
      margin: 0 auto 40px;
      cursor: pointer;
      box-sizing: border-box;

      &--active {
        color: $background-color;
        border: 2px solid $background-color;
      }

      &--checked {
        position: relative;
        border: none;
        background-color: $secondary-color;
        font-size: 22px;
        color: $secondary-color;

        &::before {
          content: '\2713';
          position: absolute;
          top: 0;
          left: 10px;
          color: $background-color;
        }

      }

      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        margin: 0 auto;
        box-sizing: border-box;
        border-left: 2px dotted $background-color;
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  .form-container {
    width: 650px;
    background-color: $background-color;
  }

  .buttons-container {
    width: 100%;
    margin: 30px 0;
    padding: 0 30px;
    text-align: right;
  }
}