@import '../../../styles/_variables.scss';

.employerMenuContainer {
  // position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
// background-color: rgba(0,0,0,.2);
  &.white{
    background-color: white;
  }
  &.gray{
    background-color: #F7F7F7;
  }

  .logo {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: .1em;
    font-family: $FONT_LOGO;
    color: $COLOR_CORAL;
    text-decoration: none;

    &:active,
    &:focus {
      outline: none;
    }
  }

  .menuItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menuItem {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    // color: $COLOR_MENU_LIGHT;
    color: $COLOR_MENU_DARK;
    font-family: $FONT_MENU;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 18px;

    &.active {
      color: $COLOR_CORAL;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      transform: scaleX(1.02) scaleY(1.04);
    }
  }

  .authBlock {
    padding: 5px 9px;
    margin: 0;
    position: relative;
    cursor: pointer;

    &:hover,
    &:active {
      transform: none;
      color: $COLOR_CORAL;

      .down {
        path {
          fill: $COLOR_CORAL;
        }
      }
    }

    .down {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      transition: all 0.5s;

      &.active {
        transform: translateY(-50%) rotateZ(180deg);
      }
    }

    .dropdownMenu {
      position: absolute;
      left: 0;
      bottom: -5px;
      transform: translateY(100%);
      background-color: #FFFFFF;
      padding: 0 70px 0 0;
      color: $COLOR_MENU_DARK;
      text-transform: capitalize;
      transition: all .4s;
      box-shadow: #8a8a8a 2px 2px 5px;

      li, & a{
        padding: 5px 5px;
        margin: 7px 0;
        border-left: 2px solid transparent;
        transition: all .5s;
        color: $COLOR_MENU_DARK;

        &:hover {
          border-left: 2px solid $COLOR_CORAL;
          color: black;
        }
      }

      &.hidden {
        //display: none;
        transform: rotateX(90deg) translateY(100%);
        bottom: -50px;
        opacity: 0;
      }
    }

    &.left {
      // border-right: solid 1px $COLOR_MENU_LIGHT;
      padding: 5px 29px 5px 9px;
      border-right: solid 1px $COLOR_MENU_DARK;
      text-transform: none;
    }
  }
}
