@import '../../../styles/_variables.scss';
.matched-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-talent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-foto {
      width: 140px;
      height: 140px;
      background-size: cover;
    }
    &-type {
      font-family: $FONT_COMMON;
      font-size: 12px;
      margin-top: 18px;
      line-height: 15px;
      text-transform: uppercase;
      color: #000000;
    }
    &-salary {
      font-family: $FONT_COMMON;
      margin-top: 5px;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;

    &-name {
      font-family: $FONT_COMMON;
      font-size: 24px;
      line-height: 29px;
      text-transform: capitalize;
      color: #000000;
    }
    &-location {
      font-family: $FONT_COMMON;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }
    &-position {
      margin-top: 10px;
      margin-bottom: 15px;
      font-family: $FONT_COMMON;
      font-size: 18px;
      line-height: 22px;      
      color: #000000;
    }
    &-group {
      display: flex;
      margin-bottom: 7px;

      &-skills {
        padding-left: 14px;
        font-family: $FONT_COMMON;
        font-size: 16px;
        line-height: 16px;
        color: #828282;           
      }
    }
  }
  .matched-item-control {
    display: flex;

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;      
      border-radius: 22px;
      background: #F2F2F2;
      cursor: pointer;
    }
    &-box:first-child {
      margin-right: 16px;
    }
    &-box:hover {
      border: 1px solid gray;
      transform: scale(1.05);
      transition: 0.4s;
    }
  }
}