@import '../../../styles/_variables.scss';
.position-bg {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.position-container {
  width: 1175px;
  margin: 0 auto;
}
.position {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.position-content {
  flex-basis: 55%;
}
.position-title, .position-skills {
  margin-top: 25px;
  font-family: $FONT_COMMON;
  color: #BDBDBD;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}
.position-title-description {
  font-family: $FONT_COMMON;
  color: $primaryColor;
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
}
.position-skills-description {
  font-family: $FONT_COMMON;
  color: $COLOR_MENU_DARK;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;

}

.position-control {
  padding-top: 28px;
  padding-bottom: 28px;
}
.position-control-item {
  border: 1px solid #828282;
  border-radius: 8px;
  padding: 7px 14px;
  margin-left: 16px;
  font-family: $FONT_COMMON;
  color: #828282;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.position-control-item-img1 {
  width: 14px;
  height: 10px;
  margin-right: 7px;
}
.position-control-item-img2 {
  width: 10px;
  height: 10px;
  margin-right: 7px;
}
.position-data {
}