@import '../../../styles/_variables.scss';

.position-bg {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 35px;

  .position-container {
    width: 1175px;
    margin: 0 auto;

    .position {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &-content {
        flex-basis: 55%;

        &-title, &-skills {
          margin-top: 25px;
          font-family: $FONT_COMMON;
          color: #BDBDBD;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-transform: capitalize;
        }
        &-title-description {
          font-family: $FONT_COMMON;
          color: $primaryColor;
          font-weight: 600;
          font-size: 24px;
          text-transform: capitalize;
        }
        &-skills-description {
          font-family: $FONT_COMMON;
          color: $COLOR_MENU_DARK;
          font-size: 24px;
          line-height: 29px;
          text-transform: capitalize;
        }
      }
      &-control {
        display: flex;
        padding-top: 28px;
        padding-bottom: 28px;

        &-item {
          border: 1px solid #828282;
          border-radius: 8px;
          padding: 7px 14px;
          margin-left: 16px;
          font-family: $FONT_COMMON;
          color: #828282;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          cursor: pointer;

          &-img1 {
            width: 14px;
            height: 10px;
            margin-right: 7px;
          }
        }
        &-item {

          &-img2 {
            width: 10px;
            height: 10px;
            margin-right: 7px;
          }          
        }        
      }
    }
    .position-data {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 28px;
      
      &-item {
        margin-right: 40px;

        &-name {
          font-family: $FONT_COMMON;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-transform: capitalize;
          color: #BDBDBD;
        }
        &-description {
          font-family: $FONT_COMMON;
          font-size: 24px;
          line-height: 29px;
          color: $COLOR_MENU_DARK;
        }
      }
    }
  }
}
div .position-container {
  width: 1175px;
  margin: 0 auto;

  .running-title {
    font-family: $FONT_COMMON;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $COLOR_MENU_DARK;
    box-sizing: content-box;
    margin-top: 25px;
    padding-bottom: 25px;
  }
}