@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.signUpTalentForm {
  margin: 3em 0; }

.signUpTalentForm .fieldContainer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column; }

.signUpTalentForm .fieldTalent {
  width: 100%;
  padding: 0 5px; }

.signUpTalentForm .buttonsContainerTalent {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.signUpTalentForm .buttonsContainerTalent button {
  margin: 0 5px;
  display: block;
  width: 100%;
  letter-spacing: 1px; }

.signUpTalentForm .buttonsContainerTalent .link {
  color: #FF8080;
  cursor: pointer;
  margin-left: 7px; }
