.talentProfile {
  
  .talentProfile-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    .talentProfile-profile {
      flex-basis: 66%;
      margin-right: 35px;
    }    
    .talentProfile-interview {
      flex-basis: 33%;
      background-color: lemonchiffon;
    }    
  }
}